div.header__purple {
    /* Rectangle 32 */

position: absolute;
width: 20px;
height: 20px;
left: 50px;
top: 74px;

background: #9C69E2;
border-radius: 20px;

}
div.header__pink {
/* Rectangle 33 */

position: absolute;
width: 20px;
height: 35px;
left: 79px;
top: 59px;

background: #F063B8;
border-radius: 20px;


}
div.testimonials__background { 
/* Rectangle 35 */

position: absolute;
width: 1118px;
height: 709px;
left: 242px;
top: 2789px;

/* 4 */
background: #9d69e2;
border-radius: 50px;

}
div.footer__line {
    /* Rectangle 41 */

position: absolute;
width: 100%;
height: 2px;
left: 0px;
top: 3648px;

/* 3 */
background: #9C69E2;
opacity: 0.2;

}
div.main__graphic {
   /* image1 1 */

position: absolute;
width: 885px;
height: 468px;
left: 500px;
top: 333px;
background-image: url("graphlady.png");
}
div.bank__image {


/* image2  */

position: absolute;
width: 550px;
height: 550px;
left: 180px;
top: 830px;



background-image: url("busybody.png");

}
div.bank__background {
/* Rectangle 34 */

position: absolute;
width: 1117px;
height: 560px;
left: 240px;
top: 903.18px;

background: rgba(240, 99, 184, 0.15);
border-radius: 50px;



}
div.search__background {
    /* Rectangle 39 */

position: absolute;
width: 442px;
height: 358px;
left: 328.29px;
top: 1873px;

/* 5 */
background: #68C9BA;
opacity: 0.1;
border-radius: 50px;

}
div.access__background {
 
/* Rectangle 39 */

position: absolute;
width: 442px;
height: 358px;
left: 915.28px;
top: 1873px;

/* 3 */
background: #9C69E2;
opacity: 0.1;
border-radius: 20px;


}
div.print__background {
    /* Rectangle 39 */

position: absolute;
width: 442px;
height: 358px;
left: 328.29px;
top: 2281px;

/* 4 */
background: #F063B8;
opacity: 0.1;
border-radius: 50px;

}
div.security__background {
    /* Rectangle 39 */

position: absolute;
width: 442px;
height: 358px;
left: 915.28px;
top: 2281px;

/* Blue 2 */
background: #2D9CDB;
opacity: 0.1;
border-radius: 20px;

}
div.footer__buttona {
    /* Rectangle 26 */

position: absolute;
width: 170px;
height: 60px;
left: 947px;
top: 3771px;

/* 4 */
background: #F063B8;
border-radius: 50px;

}
div.footer__buttonb {
    /* Rectangle 26 */

position: absolute;
width: 210px;
height: 60px;
left: 1147px;
top: 3771px;

background: #FFFFFF;
box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
border-radius: 50px;

}
div.footer__logoa {
    /* Rectangle 32 */

position: absolute;
width: 20px;
height: 20px;
left: 240px;
top: 4016px;

background: #9C69E2;
border-radius: 20px;

}
div.footer__logob {
    /* Rectangle 33 */

position: absolute;
width: 20px;
height: 35px;
left: 269px;
top: 4001px;

background: #F063B8;
border-radius: 20px;

}
div.footer__dota {
    /* Ellipse 47 */

position: absolute;
width: 50px;
height: 50px;
left: 1147px;
top: 4071px;

/* 2 */
background: #212353;
opacity: 0.1;
border-radius: 50px;
}
div.footer__dotb {
    /* Ellipse 47 */

position: absolute;
width: 50px;
height: 50px;
left: 1211px;
top: 4071px;

/* 2 */
background: #212353;
opacity: 0.1;
border-radius: 50px;
}
div.footer__dotc {
    /* Ellipse 47 */

position: absolute;
width: 50px;
height: 50px;
left: 1275px;
top: 4071px;

/* 2 */
background: #212353;
opacity: 0.1;
border-radius: 50px;
}
div.search__image {
    /* image3 1 */

position: absolute;
width: 232px;
height: 211px;
left: 239px;
top: 1946px;

background-image: url("sdpic.png");

}
div.access__image {
/* image4 */

position: absolute;
width: 231px;
height: 185px;
left: 813px;
top: 1944px;


background-image: url("twofourpic.png");

}
div.print__image {
    /* image5 1 */

position: absolute;
width: 245px;
height: 181px;
left: 220px;
top: 2404px;

background-image: url("printerpic.png");

}
div.security__image {
/* image6 1 */

position: absolute;
width: 230px;
height: 201px;
left: 818px;
top: 2367px;

background: url("lockpic.png");

}
h1.header__about {
    /* About */

position: absolute;
width: 53px;
height: 30px;
left: 410px;
top: 62px;

font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 160%;
/* or 26px */

/* 2 */
color: #212353;


}
h1.header__help {


/* Help */

position: absolute;
width: 35px;
height: 26px;
left: 503px;
top: 64px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */

/* 1 */
color: #4B5D68;




}
h1.header__features {
    /* Features */

position: absolute;
width: 63px;
height: 26px;
left: 578px;
top: 64px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */

/* 1 */
color: #4B5D68;


}
h1.header__signup {
    /* Signup */

position: absolute;
width: 51px;
height: 26px;
left: 681px;
top: 64px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */

/* 1 */
color: #4B5D68;


}
h1.header__request {
    /* Request Demo */

position: absolute;
width: 112px;
height: 26px;
left: 1179px;
top: 60px;

font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
letter-spacing: 0.005em;

/* 2 */
color: #212353;


}
div.header__button {
    /* Rectangle 26 */

position: absolute;
width: 210px;
height: 60px;
left: 1150px;
top: 47px;

background: #FFFFFF;
box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
border-radius: 50px;

}
div.header__arrow {
    /* Vector 74 */

position: absolute;
width: 20px;
height: 0px;
left: 1311px;
top: 77px;

border: 2px solid #9C69E2;
box-sizing: border-box;

}
div.main__learn {
    /* Rectangle 26 */

position: absolute;
width: 170px;
height: 60px;
left: 240px;
top: 641px;

/* 3 */
background: #9C69E2;
border-radius: 50px;

}
h1.main__button {
    /* Learn more */

position: absolute;
width: 196px;
height: 5px;
left: 277px;
top: 657px;

font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


}
h1.main__title {
    
   
    position: absolute;
    width: 645px;
    height: 184px;
    left: 50px;
    top: 170px;


    font-family: Helvetica;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: left;
    width: 40%;
    color: #222453;    
}

h1.bank__title {
    
   
   /* We are a high-level data storage bank */

position: absolute;
width: 475px;
height: 100px;
left: 790px;
top: 1028.18px;

/* SubHeadline */
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 130%;
/* or 52px */
display: flex;
align-items: center;

color: #212353;

   
}
h1.features__title {
    /* Features */

/* Features */

position: absolute;
width: 405px;
height: 52px;
left: 596.29px;
top: 1613px;

font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 130%;
/* identical to box height, or 52px */
display: flex;
align-items: center;
text-align: center;

color: #212353;




}
h1.search__title {
    /* Search Data */

position: absolute;
width: 200px;
height: 50px;
left: 500.29px;
top: 1922px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 130%;
/* or 31px */
display: flex;
align-items: center;

color: #212353;


}
h1.access__title {
    /* 24 Hours Access */

position: absolute;
width: 200px;
height: 50px;
left: 1087.28px;
top: 1922px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 130%;
/* or 31px */
display: flex;
align-items: center;

color: #212353;


}

h1.print__title {
    /* Print Out */

position: absolute;
width: 200px;
height: 50px;
left: 500.29px;
top: 2330px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 130%;
/* or 31px */
display: flex;
align-items: center;

color: #212353;


}

h1.security__title {
    /* Security Code */

position: absolute;
width: 200px;
height: 50px;
left: 1087.28px;
top: 2330px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 130%;
/* or 31px */
display: flex;
align-items: center;

color: #212353;


}
h1.main__content {
/* Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others. */

position: absolute;
width: 380px;
height: 120px;
left: 50px;
top: 471px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
/* or 29px */

/* 1 */
color: #4B5D68;

   
}

h1.bank__content {
    /* Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others. */
    
    /* The place to store various data that you can access at any time through the internet and where you can carry it. This very flexible storage area has a high level of security. To enter into your own data you must enter the password that you created when you registered in this Data Warehouse. */

position: absolute;
width: 474px;
height: 170px;
left: 790px;
top: 1168.18px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
/* or 29px */

/* 1 */
color: #4B5D68;


    
       
    }


h1.features__content {

    /* Some of the features and advantages that we provide for those of you who store data in this Data Warehouse. */

/* Some of the features and advantages that we provide for those of you who store data in this Data Warehouse. */

position: absolute;
width: 584px;
height: 58px;
left: 400px;
top: 1715px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
/* or 29px */
display: flex;
align-items: center;
text-align: center;

/* 1 */
color: #4B5D68;





    }

h1.search__content {
    /* Don’t worry if your data is very large, the Data Warehoue provides a search engine, which is useful for making it easier to find data effectively saving time. */

position: absolute;
width: 220px;
height: 160px;
left: 500.29px;
top: 1992px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* or 26px */

/* 1 */
color: #4B5D68;


}

h1.access__content{
    /* Access is given 24 hours a full morning to night and meet again in the morning, giving you comfort when you need data when urgent. */

position: absolute;
width: 220px;
height: 160px;
left: 1087.28px;
top: 1992px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* or 26px */

/* 1 */
color: #4B5D68;


}

h1.print__content {
    /* Print out service gives you convenience if someday you need print data, just edit it all and just print it. */

position: absolute;
width: 220px;
height: 160px;
left: 500.29px;
top: 2400px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* or 26px */

/* 1 */
color: #4B5D68;


}

h1.security__content {
   /* Data Security is one of our best facilities. Allows for your files to be safer. The file can be secured with a code or password that you created, so only you can open the file. */

position: absolute;
width: 220px;
height: 160px;
left: 1087.28px;
top: 2400px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* or 26px */

/* 1 */
color: #4B5D68;

 
}

h1.footer__try {
    /* Try for free! */

position: absolute;
width: 405px;
height: 52px;
left: 240px;
top: 3750px;

font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 130%;
/* identical to box height, or 52px */
display: flex;
align-items: center;

color: #212353;


}

h1.footer__limit {
/* Get limited 1 week free try our features! */

position: absolute;
width: 584px;
height: 29px;
left: 240px;
top: 3822px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */

/* 1 */
color: #4B5D68;

    
}

h1.footer__learn {
  /* Learn more */

position: absolute;
width: 196px;
height: 29px;
left: 984px;
top: 3775px;

font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

  
}

h1.footer__demo {
    /* Request Demo */

position: absolute;
width: 212px;
height: 26px;
left: 1176px;
top: 3780px;

font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
letter-spacing: 0.005em;

/* 2 */
color: #212353;


}

h1.footer__data {
    /* DataWarehouse */

position: absolute;
width: 253px;
height: 30px;
left: 309px;
top: 4004px;

font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 160%;
/* or 32px */

/* 2 */
color: #212353;


}

h1.footer__about {
    /* About */

position: absolute;
width: 51.75px;
height: 30px;
left: 715px;
top: 4011px;

font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 160%;
/* or 26px */

/* 2 */
color: #212353;


}

h1.footer__help {
    /* Help */

position: absolute;
width: 51.75px;
height: 30px;
left: 931px;
top: 4011px;

font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 160%;
/* or 26px */

/* 2 */
color: #212353;


}

h1.footer__social {
    /* Social Media */

position: absolute;
width: 170px;
height: 30px;
left: 1147px;
top: 4011px;

font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 160%;
/* or 26px */

/* 2 */
color: #212353;


}

h1.footer__warehouse {
    /* Warehouse Society, 234 Bahagia Ave Street PRBW 29281 */

position: absolute;
width: 240px;
height: 65px;
left: 240px;
top: 4101px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 180%;
/* or 29px */
letter-spacing: 0.01em;

/* 2 */
color: #212353;


}

h1.footer__email {
    /* info@warehouse.project 1-232-3434 (Main) */

position: absolute;
width: 335px;
height: 60px;
left: 240px;
top: 4176px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 180%;
/* or 29px */
letter-spacing: 0.01em;

/* 2 */
color: #212353;


}

h1.footer__profile {
    /* Profile Features Careers DW News */

position: absolute;
width: 66px;
height: 160px;
left: 715px;
top: 4071px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 250%;
/* or 40px */

/* 2 */
color: #212353;


}

h1.footer__support {
    /* Support Sign up Guide Reports Q&A */

position: absolute;
width: 66px;
height: 190px;
left: 931px;
top: 4071px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 250%;
/* or 40px */

/* 2 */
color: #212353;


}
h1.testimonials__title{
 /* Testimonials */

position: absolute;
width: 405px;
height: 52px;
left: 335px;
top: 2898px;

font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 130%;
/* identical to box height, or 52px */
display: flex;
align-items: center;

color: #FFFFFF;



}
