$purple: #9C69E2;
$pink: #F063B8;
$navy: #212353;
$cloudBlue:#f7fafd;
$grey: #4B5D68;
$white: #ffff; 
$fontBlue: #222453;
$arrow-size: .5em;
$arrow-border: 0.1em;

@mixin position {
  position: absolute;
}
@mixin pink__button ($top,$left) {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
@include position ();

top: $top;
left:$left;
background-color: $pink;
border-radius: 50px;
background-repeat: no-repeat;
background-size: contain;
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 160%;
padding: 20px 35px;
/* identical to box height, or 26px */
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
  align-items: center;
letter-spacing: 0.005em;
/* 2 */
color: $navy;
border-color: $pink;
outline-style: none;
border-style: none;
-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
cursor: pointer;
&:hover{
background: $purple;
}
}
@mixin purple__dot {
  background: $purple;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}
@mixin pink__dot {
    background: $pink;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}
@mixin about__button {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
  /* or 26px */
  /* 2 */
  color: $navy;
  background-repeat: no-repeat;
  background-size: contain;
  background: $cloudBlue;
  border: 2px solid $cloudBlue;
  cursor: pointer;
  &:hover{
    color: $pink;}
}
@mixin help__button {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 160%;
  /* identical to box height, or 26px */
  /* 1 */
  color: $grey;
  background: $cloudBlue;
  border: 2px solid $cloudBlue;
  cursor: pointer;
  &:hover{
    color: $pink;}
}
@mixin features__button {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 160%;
  /* identical to box height, or 26px */
  /* 1 */
  color: $grey;
  background: $cloudBlue;
  border: 2px solid $cloudBlue;
  cursor: pointer;
  &:hover{
    color: $pink;}
}
@mixin signup__button {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 160%;
  /* identical to box height, or 26px */
  /* 1 */
  color: $grey;
  background: $cloudBlue;
  border: 2px solid $cloudBlue;
  cursor: pointer;
  &:hover{
    color: $pink;}
}
@mixin main__graphic {
  height: 65%;
  width: 62%;
  background-image: url("graphlady.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@mixin main__title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: $fontBlue;
  padding: 15px;
}
@mixin bank__title {
    /* SubHeadline */
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5vw;
    line-height: 130%;
    /* or 52px */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: $navy;
}
@mixin bank__image {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("busybody.png");
}
@mixin bank__content {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* or 29px */
  /* 1 */
  color: $grey;
}
@mixin features__title {
  font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
    /* identical to box height, or 52px */
    font-size: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: $navy;
}
@mixin features__content {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 160%;
  /* or 29px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /* 1 */
  color: $grey;
}
@mixin main__button {
  background: $purple;
  border-radius: 50px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  border-color: $white;
  color: $white;
  outline-style: none;
  border-style: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  &:hover{
    background: $pink;
  }
}
@mixin main__content {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* or 29px */
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: contain;
  overflow-wrap: break-word;
  /* 1 */
  color: $grey;
}
@mixin search__title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 130%;
  /* or 31px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: $navy;
}
@mixin testimonials__background {
  background: #9d69e2;
  color: $white;
  overflow-x: scroll;
  white-space: nowrap;
}

@charset "UTF-8";



/* HEADER  */
div.header__purple {
  /* Rectangle 32 */
  @include position ();
  @include purple__dot();
  width: 1%;
  height: 2%;
  left: 10%;
  top: 11%;
  
}
div.header__pink {
  /* Rectangle 33 */
  @include position ();
  @include pink__dot();
  width: 1%;
  height: 3.5%;
  left: 11.5%;
  top: 9.5%;
}
button.header__about {
  /* About */
  @include position ();
  @include about__button();
  left: 20%;
  top: 8%;
  font-size: 1vw;
}
button.header__help {
  /* Help */
  @include position ();
  @include help__button();
  left: 27%;
  top: 8%;
 
}
button.header__features {
  /* Features */
  @include position ();
  @include features__button();
  left: 32%;
  top: 8%;
 
}
button.header__signup {
  /* Signup */
  @include position ();
  @include signup__button();
  left: 40%;
  top: 8%;
 
}
button.header__button {
  /* Rectangle 26 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  @include position ();
  left: 75%;
  top: 7%;
  background-color: $white;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 1vw;
  line-height: 160%;
  padding-left: 1%;
  
  /* identical to box height, or 26px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  /* 2 */
  color: $navy;
  border-color: $white;
  outline-style: none;
  border-style: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  &:hover{
    background: $purple;
    color: $cloudBlue;
  }
}


// arrow 
.link {
  position: relative;
  display: block;
  padding: 1em ($arrow-size * 3) 1em 1em;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: $purple;
  
  
  border-radius: 50px;
  &:after, &:before {
    content: "";
    display: block;
    position: absolute;
    transition: all 0.5s ease-in-out;
    
  }
  &:before {
    top: 50%;
    width: $arrow-size;
    height: $arrow-size;
    transform-origin: 50% 50%;
    transform:  translate(0, -($arrow-size / 2)) rotate(45deg);
    box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $purple;
    border-radius: 0 $arrow-size*0.15 0 0;
    
  }
  
  &:after {
    top: 50%;
    right: 38%;
    width: $arrow-size * 1.3;
    height: $arrow-border;
    transform:  translate(0, -($arrow-border / 2));
    background-color: $purple;
  }
  &:hover {
    &:before {
      transform:  translate(0.5em, -($arrow-size / 2)) rotate(45deg);
      box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $pink;
    }
    &:after {
      transform:  translate(0.5em, -($arrow-border / 2));
      background-color: $pink;
    }
  }
}
p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 2em;
  color: #7f8c8d;
}


/* MAIN */
div.main__graphic {
  /* image1 1 */
  @include position ();
  @include main__graphic();
  left: 38%;
  top: 40%;
  
  
}
h1.main__title {
  @include position ();
  @include main__title();
  left: 10%;
  top: 25%;
  width: 40%;
  font-size: 5vw;
  line-height: 88px;
  
  
}

h1.main__content {
  /* Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others. */
  @include position ();
  @include main__content();
  width: 26%;
  left: 10%;
  top: 66%;
  font-size: 1.15vw;
 
}
button.main__button {
  /* Rectangle 26 */
  @include position ();
  @include main__button();
  width: 13%;
  height: 9%;
  left: 15%;
  top: 90%;
  font-size: 18px;
  line-height: 160%;
  /* 3 */

}
h1.main__learn {
  /* Learn more */
  @include position ();
  left: 18%;
  top: 91%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: $white;
}                                

/* BANK */
div.bank__background {
  /* Rectangle 34 */
  @include position ();
  border-radius: 50px;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 130%;
  background: rgba(240, 99, 184, 0.15);
}
div.bank__image {
  /* image2  */
  @include position ();
  @include bank__image();
  width: 50%;
  left: 7%;
  top: 120%;
  height: 100%;
  
}
h1.bank__title {
  /* We are a high-level data storage bank */
  @include position ();
  @include bank__title();
  width: 35%;
  left: 50%;
  top: 140%;
}
h1.bank__content {
  /* Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others. */
  /* The place to store various data that you can access at any time through the internet and where you can carry it. This very flexible storage area has a high level of security. To enter into your own data you must enter the password that you created when you registered in this Data Warehouse. */
  @include position ();
  @include bank__content();
  width: 35%;
  left: 50%;
  top: 165%;
  font-size: 1.25vw;
}



/* FEATURES */
h1.features__title {
  /* Features */
  @include position ();
  @include features__title();
  left: 45%;
  top: 220%;
}
h1.features__content {
  /* Some of the features and advantages that we provide for those of you who store data in this Data Warehouse. */
  @include position ();
  @include features__content();
  width: 40%;
  left: 30%;
  top: 240%;
  
 
}

/* SEARCH */
h1.search__title {
  /* Search Data */
  @include position ();
  @include search__title()
  left: 25%;
  top: 270%;
  
}
h1.search__content {
  /* Don’t worry if your data is very large, the Data Warehoue provides a search engine, which is useful for making it easier to find data effectively saving time. */
  @include position ();
  width: 15.5%;
  left: 25%;
  top: 280%;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  line-height: 160%;
  /* or 26px */
  /* 1 */
  color: $grey;
}
div.search__image {
  /* image3 1 */
  @include position ();
  width: 16%;
  height: 30%;
  left: 5%;
  top: 280%;
  background-image: url("sdpic.png");
  background-repeat: no-repeat;
  background-size: contain;
}
div.search__background {
  /* Rectangle 39 */
  @include position ();
  width: 30%;
  height: 55%;
  left: 15%;
  top: 267%;
  /* 5 */
  background: #68C9BA;
  opacity: 0.1;
  border-radius: 50px;
}

/* ACCESS */
h1.access__title {
  /* 24 Hours Access */
  @include position ();
  left: 70%;
  top: 270%;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 130%;
  /* or 31px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: $navy;
}
h1.access__content {
/* Access is given 24 hours a full morning to night and meet again in the morning, giving you comfort when you need data when urgent. */
  @include position ();
  width: 15.5%;
  left: 70%;
  top: 280%;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  line-height: 160%;
  /* or 26px */
  /* 1 */
  color: $grey;
}
div.access__background {
  /* Rectangle 39 */
  @include position ();
  width: 30%;
  height: 55%;
  left: 60%;
  top: 267%;
  /* 3 */
  background: $purple;
  opacity: 0.1;
  border-radius: 20px;
}
div.access__image {
  /* image4 */
  @include position ();
  width: 16%;
  height: 30%;
  left: 50%;
  top: 280%;
  background-image: url("twofourpic.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* PRINT */
h1.print__title {
  /* Print Out */
  @include position ();
  left: 25%;
  top: 335%;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 130%;
  /* or 31px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: $navy;
}
h1.print__content {
  /* Print out service gives you convenience if someday you need print data, just edit it all and just print it. */
  @include position ();
  width: 15.5%;
  left: 25%;
  top: 345%;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  line-height: 160%;
  /* or 26px */
  /* 1 */
  color: $grey;
  
}
div.print__image {
  /* image5 1 */
  @include position ();
  width: 16%;
  height: 30%;
  left: 5%;
  top: 340%;
  background-image: url("printerpic.png");
  background-repeat: no-repeat;
  background-size: contain;
}
div.print__background {
  /* Rectangle 39 */
  @include position ();
  width: 30%;
  height: 55%;
  left: 15%;
  top: 327%;
  /* 4 */
  background: #F063B8;
  opacity: 0.1;
  border-radius: 50px;
}

/* SECURITY */
h1.security__title {
  /* Security Code */
  @include position ();
  width: 15.5%;
  left: 70%;
  top: 335%;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 130%;
  /* or 31px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: $navy;
}
h1.security__content {
  /* Data Security is one of our best facilities. Allows for your files to be safer. The file can be secured with a code or password that you created, so only you can open the file. */
  @include position ();
  width: 15.5%;
  left: 70%;
  top: 345%;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  line-height: 160%;
  /* or 26px */
  /* 1 */
  color: $grey;
}
div.security__image {
  /* image6 1 */
  @include position ();
  width: 16%;
  height: 30%;
  left: 50%;
  top: 340%;
  background: url("lockpic.png");
  background-repeat: no-repeat;
  background-size: contain;
}
div.security__background {
  /* Rectangle 39 */
  @include position ();
  width: 30%;
  height: 55%;
  left: 60%;
  top: 327%;
  /* Blue 2 */
  background: #2D9CDB;
  opacity: 0.1;
  border-radius: 20px;
}

/* TESTIMONIALS */
div.testimonials__background {
  @include position ();
  @include testimonials__background();
  width: 85%;
  height: 85%;
  left: 7.5%;
  top: 400%;
  border-radius: 50px; 
  
 
}
div.testimonials__cardcontainer {
  /* Rectangle 35 */
  @include position ();
  width: 80%;
  height: 90%;
  left: 10%;
  top: 425%;
  overflow-x: scroll;
  white-space: nowrap;
}
div.card{
    
  display: inline-block;
  background-color: white;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
  -webkit-box-shadow: 5px 20px #8a56db;
  box-shadow: 5px 20px #8a56db;
  
  /* 1 */
  color: $grey;
}
div.testimonials__carda {
  /* Rectangle 35 */
  @include position ();
  width: 45%;
  height: 50%;
  left: 18%;
  top: 425%;
}
h1.testimonials__carda__content {
  /* Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla. */
  @include position ();
  width: 26.5%;
  height: 50%;
  left: 30%;
  top: 447%;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 180%;
  /* or 32px */
  /* 1 */
  color: $grey;
}
h1.testimonials__card__name {
  /* John Fang */
  
  font-family: Avenir;
  font-size: 2vw;
  color: $navy;
  
}
h1.testimonials__title {
  /* Testimonials */

@include position ();


font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 130%;
/* identical to box height, or 52px */
display: flex;
align-items: center;

color: $white;


}
div.title__mover {
  @include position ();
  top: 405%;
  padding-left: 15%;

}
div.content__mover {
  @include position ();
  top: 27%;
  padding-left: 15%;
  
}
div.name__mover {
  @include position ();
  top: 9%;
  padding-left: 15%;
}
div.site__mover {
  @include position ();
  top: 17%;
  padding-left: 100%;
}
h1.testimonials__carda__site {
  /* wordfaang.com */
  @include position ();
  width: 10%;
  height: 5%;
  left: 15%;
  top: 14%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: .8vw;
  line-height: 160%;

  color: $purple;
}
div.testimonials__carda__image {
  /* Ellipse 76 */
  @include position ();
  width: 7%;
  height: 13%;
  top: 10%;
  left: 5%;
  background-image: url("propic.png");
  background-repeat: no-repeat;
  background-size: contain;
}
div.testimonials__cardb {
  /* Rectangle 37 */
  @include position ();
  width: 50%;
  height: 50%;
  left: 65%;
  top: 425%;
  background: linear-gradient(-0.25turn, $purple 9.75%, $white 100%);
  /* 3 */
  border: 1px solid $purple;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  -webkit-box-shadow: 5px 20px #8a56db;
          box-shadow: 5px 20px #8a56db;
 
  overflow-x: scroll;
}
div.testimonials__cardb__image {
  /* Ellipse 76 */
  @include position ();
  width: 7%;
  height: 13%;
  left: 55%;
  top: 10%;
  background-image: url("propicb.png");
  background-repeat: no-repeat;
  background-size: contain;
}
h1.testimonials__cardb__content {
  /* Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor */
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 10%;
  /* or 32px */
  /* 1 */
  color: $grey;
}
h1.testimonials__cardb__content2 {
  /* Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor */
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 10%;
  /* or 32px */
  /* 1 */
  color: $pink;
  &:hover {
    color: $grey;
  }
  
}
h1.testimonials__cardb__site {
  /* UX Engineer */
  @include position ();
  width: 10%;
  height: 5%;
  left: 75%;
  top: 440%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 160%;
  /* or 22px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.01em;
  /* 3 */
  color: $purple;
}
h1.testimonials__cardb__name {
  /* Jeny Doe */
  @include position ();
  width: 10%;
  height: 5%;
  left: 75%;
  top: 435%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 1.25vw;
  line-height: 160%;
  /* identical to box height, or 29px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  /* 2 */
  color: $navy;
}
div.testimonials__dota {
  /* Ellipse 72 */
  @include position ();
  width: 1%;
  height: 2%;
  left: 10%;
  top: 477%;
  /* 4 */
  background: #F063B8;
  border-radius: 50px;
}
div.testimonials__dotb {
  /* Ellipse 73 */
  @include position ();
  width: .5%;
  height: 1%;
  left: 12%;
  top: 477.75%;
  background: $white;
  border-radius: 50px;
}
div.testimonials__dotc {
  /* Ellipse 74 */
  @include position ();
  width: .5%;
  height: 1%;
  left: 13%;
  top: 477.75%;
  border-radius: 50px;
  background: $white;
}
div.testimonials__dotd {
  /* Ellipse 75 */
  @include position ();
  width: .5%;
  height: 1%;
  left: 14%;
  top: 477.75%;
  border-radius: 50px;
  background: $white;
}
div.testimonials__arrowa {
  /* Vector 74 */
  @include position ();
  width: 6%;
  height: 10%;
  left: 75%;
  top: 472%;
  background-image: url("warrow.png");
  
}
div.testimonials__arrowb {
  /* Polygon 1 */
  @include position ();
  width: 6%;
  height: 10%;
  left: 81%;
  top: 472%;
  opacity: 20%;
  background-image: url("warrowb.png");
  
  
}
div.scrolling-wrapper {
  overflow-x: scroll;
  
  white-space: nowrap;
  
  
  
}
div.cardnew {
    display: inline-block;
    background-color: white;
    width: 50%;
    height: 50%;

    -webkit-box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;
    -webkit-box-shadow: 5px 20px #8a56db;
    box-shadow: 5px 20px #8a56db;
    /* 1 */
    color: $grey;
   
    
  }
  h2.whocares {
    
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 100%;
    width:5%;
    color: $grey;
    
   
    
  }


  /* FOOTER */
div.footer__line {
  /* Rectangle 41 */
  @include position ();
  width: 100%;
  height: .25%;
  top: 515%;
  /* 3 */
  background: $purple;
  opacity: 0.2;
}
h1.footer__try {
  /* Try for free! */
  @include position ();
  left: 16%;
  top: 530%;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  line-height: 130%;
  /* identical to box height, or 52px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: $navy;
}
h1.footer__limit {
  /* Get limited 1 week free try our features! */
  @include position ();
  left: 16%;
  top: 545%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 160%;
  /* identical to box height, or 29px */
  /* 1 */
  color: $grey;
}
button.footer__buttona {
  /* Rectangle 26 */
 @include pink__button(535%,65%);
}
h1.footer__learn {
  /* Learn more */
  @include position ();
  left: 67.5%;
  top: 536%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 1.25vw;
  line-height: 160%;
  /* identical to box height, or 29px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: $white;
}
.link2 {
  position: relative;
  display: block;
  padding: 1em ($arrow-size * 3) 1em 1em;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: $purple;
  
  
  border-radius: 50px;
  &:after, &:before {
    content: "";
    display: block;
    position: absolute;
    transition: all 0.5s ease-in-out;
    
  }
  &:before {
    top: 50%;
    right: $arrow-size;
    width: $arrow-size;
    height: $arrow-size;
    transform-origin: 50% 50%;
    transform:  translate(0, -($arrow-size / 2)) rotate(45deg);
    box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $purple;
    border-radius: 0 $arrow-size*0.15 0 0;
    
  }
  
  &:after {
    top: 50%;
    right: 1em;
    width: $arrow-size * 1.3;
    height: $arrow-border;
    transform:  translate(0, -($arrow-border / 2));
    background-color: $purple;
  }
  &:hover {
    &:before {
      transform:  translate(0.5em, -($arrow-size / 2)) rotate(45deg);
    }
    &:after {
      transform:  translate(0.5em, -($arrow-border / 2));
    }
  }
}
p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 2em;
  color: #7f8c8d;
}
div.footer__buttonb {
  /* Rectangle 26 */
  @include position ();
  width: 14%;
  height: 8.5%;
  left: 80%;
  top: 175%;
  background: $white;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}
button.footer__demo {
  /* Request Demo */
  @include position ();
  left: 82%;
  top: 535%;
/* Rectangle 26 */
-webkit-box-sizing: border-box;
box-sizing: border-box;
@include position ();
left: 80%;

height: 9%;
background-color: $white;
border-radius: 50px;
background-repeat: no-repeat;
background-size: contain;
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 1vw;
line-height: 60%;
padding-left: 4%;

/* identical to box height, or 26px */
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
letter-spacing: 0.005em;
/* 2 */
color: $navy;
border-color: $white;
outline-style: none;
border-style: none;
-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
cursor: pointer;
&:hover{
background: $purple;
color: $cloudBlue;
}
  
}
div.footer__arrow {
  /* Vector 74 */
  @include position ();
  width: 100px;
  height: 100px;
  left: 89%;
  top: 533%;
  background-image: url("point.png");
}
div.footer__logoa {
  /* Rectangle 32 */
  @include position ();
  width: 1.5%;
  height: 3%;
  left: 16%;
  top: 570%;
  background: $purple;
  border-radius: 20px;
}
div.footer__logob {
  /* Rectangle 33 */
  @include position ();
  width: 1.5%;
  height: 5%;
  left: 18%;
  top: 568%;
  background: #F063B8;
  border-radius: 20px;
}
h1.footer__data {
  /* DataWarehouse */
  @include position ();
  left: 22%;
  top: 567%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 2vw;
  line-height: 160%;
  /* or 32px */
  /* 2 */
  color: $navy;
}
h1.footer__about {
  /* About */
  @include position ();
  left: 50%;
  top: 568%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5vw;
  line-height: 160%;
  /* or 26px */
  /* 2 */
  color: $navy;
}
h1.footer__help {
  /* Help */
  @include position ();
  left: 65%;
  top: 568%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5vw;
  line-height: 160%;
  /* or 26px */
  /* 2 */
  color: $navy;
}
h1.footer__social {
  /* Social Media */
  @include position ();
  left: 80%;
  top: 568%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5vw;
  line-height: 160%;
  /* or 26px */
  /* 2 */
  color: $navy;
}
h1.footer__warehouse {
  /* Warehouse Society, 234 Bahagia Ave Street PRBW 29281 */
  @include position ();
  width: 15%;
  left: 16%;
  top: 580%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 180%;
  /* or 29px */
  letter-spacing: 0.01em;
  /* 2 */
  color: $navy;
}
h1.footer__email {
  /* info@warehouse.project 1-232-3434 (Main) */
  @include position ();
  width: 13%;
  left: 16%;
  top: 592%;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 180%;
  /* or 29px */
  letter-spacing: 0.01em;
  /* 2 */
  color: $navy;
}
h1.footer__profile {
  /* Profile Features Careers DW News */
  @include position ();
  width: 4%;
  left: 50%;
  top: 580%;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 250%;
  /* or 40px */
  /* 2 */
  color: $navy;
}
h1.footer__support {
  /* Support Sign up Guide Reports Q&A */
  @include position ();
  width: 4%;
  left: 65%;
  top: 580%;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 250%;
  /* or 40px */
  /* 2 */
  color: $navy;
}
div.footer__dota {
  /* Ellipse 47 */
  @include position ();
  width: 4%;
  height: 8%;
  left: 80%;
  top: 580%;
  /* 2 */
  background: $navy;
  opacity: 0.1;
  border-radius: 50px;
}
div.footer__dotb {
  /* Ellipse 47 */
  @include position ();
  width: 4%;
  height: 8%;
  left: 85%;
  top: 580%;
  /* 2 */
  background: $navy;
  opacity: 0.1;
  border-radius: 50px;
}
div.footer__dotc {
  /* Ellipse 47 */
  @include position ();
  width: 4%;
  height: 8%;
  left: 90%;
  top: 580%;
  /* 2 */
  background: $navy;
  opacity: 0.1;
  border-radius: 50px;
}
body {
  background-color: $cloudBlue;
}
/* 10101010101010101010101010101010101010101010101iphone */
@media only screen and (max-width: 400px) {
  $arrow-size: .25em;
  $arrow-border: 0.05em;
  
div.header__purple {
    /* Rectangle 32 */
    @include position ();
    @include purple__dot();
    width: 2.25%;
    height: 1%;
    left: 13%;
    top: 3%;
   
  }
div.header__pink {
    /* Rectangle 33 */
    @include position ();
    @include pink__dot();
    width: 2.25%;
    height: 2%;
    left: 16%;
    top: 2%;
    
  }
button.header__about {
    /* About */
    @include position ();
    @include about__button();
    left: 25%;
    top: 2.5%;
    font-size: 1.5vw;
  }
button.header__help {
    /* Help */
    @include position ();
    @include help__button();
    left: 35%;
    top: 2.5%;
    
  }
button.header__features {
    /* Features */
    @include position ();
    @include features__button();
    left: 40%;
    top: 2.5%;
  }
button.header__signup {
    /* Signup */
    @include position ();
    @include signup__button();
    left: 48%;
    top: 2.5%;
  }
  
  .link {
    position: relative;
    display: block;
    padding: 1em ($arrow-size * 3) .5em .5em;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: $purple;
    
    
    border-radius: 50px;
    &:after, &:before {
      content: "";
      display: block;
      position: absolute;
      transition: all 0.5s ease-in-out;
      
    }
    &:before {
      top: 50%;
      width: $arrow-size;
      height: $arrow-size;
      transform-origin: 50% 50%;
      transform:  translate(0, -($arrow-size / 2)) rotate(45deg);
      box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $purple;
      border-radius: 0 $arrow-size*0.15 0 0;
      
    }
    
    &:after {
      top: 50%;
      right: 38%;
      width: $arrow-size * 1.3;
      height: $arrow-border;
      transform:  translate(0, -($arrow-border / 2));
      background-color: $purple;
    }
    &:hover {
      &:before {
        transform:  translate(0.5em, -($arrow-size / 2)) rotate(45deg);
      }
      &:after {
        transform:  translate(0.5em, -($arrow-border / 2));
      }
    }
  }
  p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 2em;
    color: #7f8c8d;
  }
  div.header__point {
    /* Polygon 1 */
    @include position ();
    width: 20%;
    height: 10%;
    left: 70%;
    top: 5%;
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
    background-image: url("point.png");
    }
  button.header__button {
  /* Rectangle 26 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  @include position ();
  left: 80%;
  top: 2%;
  height: 2.5%;
  background-color: $white;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 1vw;
  line-height: 60%;
  padding-left: 4%;
  
  /* identical to box height, or 26px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  /* 2 */
  color: $navy;
  border-color: $white;
  outline-style: none;
  border-style: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  &:hover{
    background: $purple;
    color: $cloudBlue;
  }
  }
  div.header__button {
    /* Rectangle 26 */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    @include position ();
    width: 20%;
    height: 2.5%;
    left: 75%;
    top: 4%;
    background: $white;
    -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
            box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
            border-radius: 50px;
            background-repeat: no-repeat;
            background-size: contain;
          }

 
  
  
  /* MAIN */
  div.main__graphic {
    /* image1 1 */
    @include position ();
    @include main__graphic();
    left: 48%;
    top: 15%;
  }
  h1.main__title {
    @include position ();
    @include main__title();
    left: 9%;
    top: 5%;
    width: 60%;
    font-size: 7.3vw;
    line-height: 30px;
    
  }
  h1.main__content {
    /* Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others. */
    @include position ();
    @include main__content();
    width: 48%;
    left: 9%;
    top: 16.5%;
    font-size: 1.7vw;
  }
  
  button.main__button {
    /* Rectangle 26 */
    @include position ();
    @include main__button();
    width: 15%;
    height: 2.5%;
    left: 14%;
    top: 26%;
    font-size: 1.5vw;
    line-height: 160%;
    /* 3 */
    
  }
  h1.main__learn {
    /* Learn more */
    @include position ();
    left: 14.5%;
    top: 30%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 7px;
    line-height: 160%;
    /* identical to box height, or 29px */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: $white;
  }
  /* BANK */
  div.bank__background {
    /* Rectangle 34 */
    @include position ();
    border-radius: 25px;
    width: 90%;
    height: 23%;
    left: 10%;
    top: 35%;
    background: rgba(240, 99, 184, 0.15);
  }
  div.bank__image {
    /* image2  */
    @include position ();
    @include bank__image();
    width: 65%;
    left: 3%;
    top: 31%;
    height: 100%;
  }
  h1.bank__title {
    /* We are a high-level data storage bank */
    @include position ();
    @include bank__title();
    width: 43%;
    left: 55%;
    top: 39%;
  }
  h1.bank__content {
    /* Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others. */
    /* The place to store various data that you can access at any time through the internet and where you can carry it. This very flexible storage area has a high level of security. To enter into your own data you must enter the password that you created when you registered in this Data Warehouse. */
    @include position ();
    @include bank__content();
    width: 40%;
    left: 55%;
    top: 44%;
    font-size: 1.75vw;
    
  }
  /* FEATURE */
  h1.features__title {
    /* Features */
    @include position ();
    @include features__title();
    left: 50%;
    top: 65%;
    
  }
  h1.features__content {
    /* Some of the features and advantages that we provide for those of you who store data in this Data Warehouse. */
    @include position ();
    @include features__content();
    width: 40%;
    left: 35%;
    top: 70%;
  }
  /* SEARCH */
  div.search__background {
    /* Rectangle 39 */
    @include position ();
    width: 40%;
    height: 17%;
    left: 10%;
    top: 80%;
    /* 5 */
    background: #68C9BA;
    opacity: 0.1;
    border-radius: 20px;
  }
  h1.search__title {
    /* Search Data */
    @include position ();
    @include search__title();
    left: 27%;
    top: 83%;
   
  }
  h1.search__content {
    /* Don’t worry if your data is very large, the Data Warehoue provides a search engine, which is useful for making it easier to find data effectively saving time. */
    @include position ();
    width: 15.5%;
    left: 25%;
    top: 87%;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1vw;
    line-height: 160%;
    /* or 26px */
    /* 1 */
    color: $grey;
  }
  div.search__image {
    /* image3 1 */
    @include position ();
    width: 20%;
    height: 30%;
    left: 3%;
    top: 83%;
    background-image: url("sdpic.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* ACCESS */
  h1.access__title {
    /* 24 Hours Access */
    @include position ();
    left: 76%;
    top: 83%;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 130%;
    /* or 31px */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: $navy;
  }
  h1.access__content {
    /* Access is given 24 hours a full morning to night and meet again in the morning, giving you comfort when you need data when urgent. */
    @include position ();
    width: 15.5%;
    left: 76%;
    top: 87%;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1vw;
    line-height: 160%;
    /* or 26px */
    /* 1 */
    color: $grey;
  }
  div.access__background {
    /* Rectangle 39 */
    @include position ();
    width: 40%;
    height: 17%;
    left: 60%;
    top: 80%;
    /* 3 */
    background: $purple;
    opacity: 0.1;
    border-radius: 20px;
  }
  div.access__image {
    /* image4 */
    @include position ();
    width: 20%;
    height: 30%;
    left: 55%;
    top: 83%;
    background-image: url("twofourpic.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* IMAGE */
  h1.print__title {
    /* Print Out */
    @include position ();
    left: 27%;
    top: 103%;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 130%;
    /* or 31px */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: $navy;
  }
  h1.print__content {
    /* Print out service gives you convenience if someday you need print data, just edit it all and just print it. */
    @include position ();
    width: 15.5%;
    left: 27%;
    top: 106%;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1vw;
    line-height: 160%;
    /* or 26px */
    /* 1 */
    color: $grey;
  }
  div.print__background {
    /* Rectangle 39 */
    @include position ();
    width: 40%;
    height: 17%;
    left: 10%;
    top: 100%;
    /* 4 */
    background: #F063B8;
    opacity: 0.1;
    border-radius: 20px;
  }
  div.print__image {
    /* image5 1 */
    @include position ();
    width: 20%;
    height: 30%;
    left: 5%;
    top: 105%;
    background-image: url("printerpic.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* SECURITY */
  h1.security__title {
    /* Security Code */
    @include position ();
    width: 15.5%;
    left: 76%;
    top: 103%;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 130%;
    /* or 31px */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: $navy;
  }
  h1.security__content {
    /* Data Security is one of our best facilities. Allows for your files to be safer. The file can be secured with a code or password that you created, so only you can open the file. */
    @include position ();
    width: 15.5%;
    left: 76%;
    top: 106%;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1vw;
    line-height: 160%;
    /* or 26px */
    /* 1 */
    color: $grey;
  }
  div.security__image {
    /* image6 1 */
    @include position ();
    width: 16%;
    height: 30%;
    left: 50%;
    top: 105%;
    background: url("lockpic.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  div.security__background {
    /* Rectangle 39 */
    @include position ();
    width: 40%;
    height: 17%;
    left: 60%;
    top: 100%;
    /* Blue 2 */
    background: #2D9CDB;
    opacity: 0.1;
    border-radius: 20px;
  }
  /* TESTIMONIALS */
  div.title__mover {
    @include position ();
    top: 127%;
    padding-left: 15%;
  
  }
  div.content__mover {
    @include position ();
    top: 43%;
    padding-left: 20%;
    line-height: 50%;
    
  }
  div.name__mover {
    @include position ();
    top: 17%;
    padding-left: 15%;
  }
  div.site__mover {
    @include position ();
    top: 30%;
    padding-left: 57%;
  }
  div.testimonials__background {
    /* Rectangle 35 */
    @include position ();
    @include testimonials__background();
    width: 90%;
    height: 25%;
    left: 10%;
    top: 125%;
    border-radius: 20px;
    /* 4 */
  }
  div.testimonials__cardcontainer {
    /* Rectangle 35 */
    @include position ();
    width: 80%;
    height: 15%;
    left: 15%;
    top: 132%;
    overflow-x: scroll;
    white-space: nowrap;
  }
  div.card{
    
    display: inline-block;
    background-color: white;
    width: 50%;
    height: 80%;
    -webkit-box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;
    -webkit-box-shadow: 5px 20px #8a56db;
    box-shadow: 5px 20px #8a56db;
    
    /* 1 */
    color: $grey;
  }
  h1.testimonials__title {
    /* Testimonials */
    @include position ();
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 52px */
    display: flex;
    align-items: center;
    
    color: $white;
    
  }
  div.testimonials__carda {
    /* Rectangle 35 */
    @include position ();
    width: 40%;
    height: 10%;
    left: 18%;
    top: 135%;
   
  }
  h1.testimonials__carda__content {
    /* Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla. */
  
   
    @include position ();
    width: 26.5%;
    height: 1%;
    left: 30%;
    top: 15%;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    line-height: 1%;
    /* or 32px */
    /* 1 */
    color: $grey;
  }
  h1.testimonials__cardb__content2 {
    /* Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor */
    @include position ();
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 10%;
    /* or 32px */
    /* 1 */
    color: $pink;
    &:hover {
      color: $grey;
    }
    
  }
  h1.testimonials__carda__name {
    /* John Fang */
    @include position ();
    width: 10%;
    height: 5%;
    left: 27%;
    top: 15%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 1.25vw;
    line-height: 160%;
    /* identical to box height, or 29px */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.005em;
    /* 2 */
    color: $navy;
  }
  h1.testimonials__carda__site {
    /* wordfaang.com */
    @include position ();
    width: 10%;
    height: 30%;
    left: 27%;
    top: 15%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: .8vw;
    line-height: 160%;
  
    color: $purple;
  }
  div.testimonials__carda__image {
    /* Ellipse 76 */
    @include position ();
    width: 18%;
    height: 18%;
    left: 5%;
    top: 18%;
    background-image: url("propic.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  div.testimonials__cardb {
    /* Rectangle 37 */
    @include position ();
    width: 30%;
    height: 10%;
    left: 65%;
    top: 135%;
    background: linear-gradient(-0.25turn, $purple 9.75%, $white 100%);
    /* 3 */
    border: 1px solid $purple;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
    -webkit-box-shadow: 5px 20px #8a56db;
            box-shadow: 5px 20px #8a56db;
  }
  div.testimonials__cardb__image {
    /* Ellipse 76 */
    @include position ();
    width: 18%;
    height: 18%;
    left: 56%;
    top: 18%;
    background-image: url("propicb.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  h1.testimonials__cardb__content {
    /* Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor */
    @include position ();
    width: 13%;
    height: 50%;
    left: 77%;
    font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 10%;
  /* or 32px */
  /* 1 */
  color: $grey;
  }
  h1.testimonials__cardb__site {
    /* UX Engineer */
    @include position ();
    width: 10%;
    height: 5%;
    left: 77%;
    top: 136%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 160%;
    /* or 22px */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.01em;
    /* 3 */
    color: $purple;
  }
  h1.testimonials__cardb__name {
    /* Jeny Doe */
    @include position ();
    width: 10%;
    height: 5%;
    left: 77%;
    top: 135%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 1.25vw;
    line-height: 160%;
    /* identical to box height, or 29px */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.005em;
    /* 2 */
    color: $navy;
  }
  div.testimonials__dota {
    /* Ellipse 72 */
    @include position ();
    width: 2.5%;
    height: 1%;
    left: 18%;
    top: 147%;
    /* 4 */
    background: #F063B8;
    border-radius: 50px;
  }
  div.testimonials__dotb {
    /* Ellipse 73 */
    @include position ();
    width: 1%;
    height: .5%;
    left: 23%;
    top: 147.5%;
    background: $white;
    border-radius: 50px;
  }
  div.testimonials__dotc {
    /* Ellipse 74 */
    @include position ();
    width: 1%;
    height: .5%;
    left: 25%;
    top: 147.5%;
    border-radius: 50px;
    background: $white;
  }
  div.testimonials__dotd {
    /* Ellipse 75 */
    @include position ();
    width: 1%;
    height: .5%;
    left: 27%;
    top: 147.5%;
    border-radius: 50px;
    background: $white;
  }
  div.testimonials__arrowa {
    /* Vector 74 */
    @include position ();
    width: 10%;
    height: 10%;
    left: 65%;
    top: 145%;
    background-image: url("warrow.png");
    background-size: 45px;
  }
  div.testimonials__arrowb {
    /* Polygon 1 */
    @include position ();
    width: 12%;
    height: 10%;
    left: 75%;
    top: 145%;
    opacity: 20%;
    background-image: url("warrowb.png");
    background-size: 45px;
  }
  /* FOOTER */
  div.footer__line {
    /* Rectangle 41 */
    @include position ();
    width: 100%;
    height: .25%;
    top: 160%;
    /* 3 */
    background: $purple;
    opacity: 0.2;
  }
  h1.footer__try {
    /* Try for free! */
    @include position ();
    left: 16%;
    top: 165%;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
    line-height: 130%;
    /* identical to box height, or 52px */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: $navy;
  }
  h1.footer__limit {
    /* Get limited 1 week free try our features! */
    @include position ();
    left: 16%;
    top: 168%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 160%;
    /* identical to box height, or 29px */
    /* 1 */
    color: $grey;
  }
  button.footer__buttona {
    /* Rectangle 26 */
    
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  @include position ();
  
  top: 165%;
  left:60%;
  background-color: $pink;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 1.25vw;
  line-height: 160%;
  padding: 10px 15px;
  /* identical to box height, or 26px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
    align-items: center;
  letter-spacing: 0.005em;
  /* 2 */
  color: $navy;
  border-color: $pink;
  outline-style: none;
  border-style: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  &:hover{
  background: $purple;
  }

    
    /* identical to box height, or 26px */
    
    
    letter-spacing: 0.005em;
    /* 2 */
    color: $navy;
    
  }
  h1.footer__learn {
    /* Learn more */
    @include position ();
    left: 67.5%;
    top: 168.1%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 1.25vw;
    line-height: 160%;
    color: $white;
    /* identical to box height, or 29px */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  div.footer__buttonb {
    /* Rectangle 26 */
    @include position ();
    width: 12%;
    height: 2%;
    left: 80%;
    top: 168%;
    background: $white;
    -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
            box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
  }
  button.footer__demo {
    /* Request Demo */
    @include position ();
    left: 82%;
    top: 165%;
    height: 3.5%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 1.25vw;
    line-height: 160%;
    /* identical to box height, or 26px */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.005em;
    /* 2 */
    color: $navy;
  }
  div.footer__arrow {
    /* Vector 74 */
    @include position ();
    width: 100px;
    height: 100px;
    left: 89%;
    top: 170%;
    background-image: url("point.png");
  }
  div.footer__logoa {
    /* Rectangle 32 */
    @include position ();
    width: 2%;
    height: 1%;
    left: 16%;
    top: 175%;
    background: $purple;
    border-radius: 20px;
  }
  div.footer__logob {
    /* Rectangle 33 */
    @include position ();
    width: 2%;
    height: 2%;
    left: 19%;
    top: 174%;
    background: #F063B8;
    border-radius: 20px;
  }
  h1.footer__data {
    /* DataWarehouse */
    @include position ();
    left: 23%;
    top: 174%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 2vw;
    line-height: 160%;
    /* or 32px */
    /* 2 */
    color: $navy;
  }
  h1.footer__about {
    /* About */
    @include position ();
    left: 50%;
    top: 174%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5vw;
    line-height: 160%;
    /* or 26px */
    /* 2 */
    color: $navy;
  }
  h1.footer__help {
    /* Help */
    @include position ();
    left: 65%;
    top: 174%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5vw;
    line-height: 160%;
    /* or 26px */
    /* 2 */
    color: $navy;
  }
  h1.footer__social {
    /* Social Media */
    @include position ();
    left: 80%;
    top: 174%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5vw;
    line-height: 160%;
    /* or 26px */
    /* 2 */
    color: $navy;
  }
  h1.footer__warehouse {
    /* Warehouse Society, 234 Bahagia Ave Street PRBW 29281 */
    @include position ();
    width: 15%;
    left: 16%;
    top: 180%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 180%;
    /* or 29px */
    letter-spacing: 0.01em;
    /* 2 */
    color: $navy;
  }
  h1.footer__email {
    /* info@warehouse.project 1-232-3434 (Main) */
    @include position ();
    width: 13%;
    left: 16%;
    top: 182%;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 180%;
    /* or 29px */
    letter-spacing: 0.01em;
    /* 2 */
    color: $navy;
  }
  h1.footer__profile {
    /* Profile Features Careers DW News */
    @include position ();
    width: 4%;
    left: 50%;
    top: 180%;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 250%;
    /* or 40px */
    /* 2 */
    color: $navy;
  }
  h1.footer__support {
    /* Support Sign up Guide Reports Q&A */
    @include position ();
    width: 4%;
    left: 65%;
    top: 180%;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 250%;
    /* or 40px */
    /* 2 */
    color: $navy;
  }
  div.footer__dota {
    /* Ellipse 47 */
    @include position ();
    width: 4%;
    height: 2%;
    left: 80%;
    top: 180%;
    /* 2 */
    background: $navy;
    opacity: 0.1;
    border-radius: 50px;
  }
  div.footer__dotb {
    /* Ellipse 47 */
    @include position ();
    width: 4%;
    height: 2%;
    left: 85%;
    top: 180%;
    /* 2 */
    background: $navy;
    opacity: 0.1;
    border-radius: 50px;
  }
  div.footer__dotc {
    /* Ellipse 47 */
    @include position ();
    width: 4%;
    height: 2%;
    left: 90%;
    top: 180%;
    /* 2 */
    background: $navy;
    opacity: 0.1;
    border-radius: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */