div.logosmall {
    /* Rectangle 32 */

position: absolute;
width: 20px;
height: 20px;
left: 50px;
top: 74px;

background: #9C69E2;
border-radius: 20px;

}
div.logobig {
/* Rectangle 33 */

position: absolute;
width: 20px;
height: 35px;
left: 79px;
top: 59px;

background: #F063B8;
border-radius: 20px;


}


div.image1 {
   /* image1 1 */

position: absolute;
width: 885px;
height: 468px;
left: 603px;
top: 333px;
background-image: url("graphlady.png");
}
div.background {


/* Rectangle 34 */

position: absolute;
width: 1117px;
height: 560px;
left: 240px;
top: 903.18px;

background: rgba(240, 99, 184, 0.15);
border-radius: 50px;

}
div.searchbackground {
    /* Rectangle 39 */

position: absolute;
width: 442px;
height: 358px;
left: 328.29px;
top: 1873px;

/* 5 */
background: #68C9BA;
opacity: 0.1;
border-radius: 50px;

}
div.hoursbackground {
 
/* Rectangle 39 */

position: absolute;
width: 442px;
height: 358px;
left: 915.28px;
top: 1873px;

/* 3 */
background: #9C69E2;
opacity: 0.1;
border-radius: 20px;


}
div.printbackground {
    /* Rectangle 39 */

position: absolute;
width: 442px;
height: 358px;
left: 328.29px;
top: 2281px;

/* 4 */
background: #F063B8;
opacity: 0.1;
border-radius: 50px;

}
div.securitybackground {
    /* Rectangle 39 */

position: absolute;
width: 442px;
height: 358px;
left: 915.28px;
top: 2281px;

/* Blue 2 */
background: #2D9CDB;
opacity: 0.1;
border-radius: 20px;

}
h1.about {
    /* About */

position: absolute;
width: 53px;
height: 30px;
left: 410px;
top: 62px;

font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 160%;
/* or 26px */

/* 2 */
color: #212353;


}
h1.help {
    /* Help */

position: absolute;
width: 35px;
height: 26px;
left: 503px;
top: 64px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */

/* 1 */
color: #4B5D68;


}
h1.features {
    /* Features */

position: absolute;
width: 63px;
height: 26px;
left: 578px;
top: 64px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */

/* 1 */
color: #4B5D68;


}
h1.signup {
    /* Signup */

position: absolute;
width: 51px;
height: 26px;
left: 681px;
top: 64px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */

/* 1 */
color: #4B5D68;


}
h1.requestdemo {
    /* Request Demo */

position: absolute;
width: 112px;
height: 26px;
left: 1179px;
top: 64px;

font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
letter-spacing: 0.005em;

/* 2 */
color: #212353;


}
div.rdbox {
    /* Rectangle 26 */

position: absolute;
width: 210px;
height: 60px;
left: 1150px;
top: 47px;

background: #FFFFFF;
box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
border-radius: 50px;

}
div.arrow {
    /* Vector 74 */

position: absolute;
width: 20px;
height: 0px;
left: 1311px;
top: 77px;

border: 2px solid #9C69E2;
box-sizing: border-box;

}
h1.card1__title {
    
   
    position: absolute;
    width: 645px;
    height: 184px;
    left: 50px;
    top: 170px;


    font-family: Helvetica;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: left;
    width: 40%;
    color: #222453;    
}

h1.title2 {
    
   
   /* We are a high-level data storage bank */

position: absolute;
width: 475px;
height: 100px;
left: 790px;
top: 1028.18px;

/* SubHeadline */
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 130%;
/* or 52px */
display: flex;
align-items: center;

color: #212353;

   
}
h1.title3 {
    /* Features */

/* Features */

position: absolute;
width: 405px;
height: 52px;
left: 596.29px;
top: 1613px;

font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 130%;
/* identical to box height, or 52px */
display: flex;
align-items: center;
text-align: center;

color: #212353;




}
h1.title4 {
    /* Search Data */

position: absolute;
width: 200px;
height: 50px;
left: 500.29px;
top: 1922px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 130%;
/* or 31px */
display: flex;
align-items: center;

color: #212353;


}
h1.title5 {
    /* 24 Hours Access */

position: absolute;
width: 200px;
height: 50px;
left: 1087.28px;
top: 1922px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 130%;
/* or 31px */
display: flex;
align-items: center;

color: #212353;


}

h1.title6 {
    /* Print Out */

position: absolute;
width: 200px;
height: 50px;
left: 500.29px;
top: 2330px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 130%;
/* or 31px */
display: flex;
align-items: center;

color: #212353;


}

h1.title7 {
    /* Security Code */

position: absolute;
width: 200px;
height: 50px;
left: 1087.28px;
top: 2330px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 130%;
/* or 31px */
display: flex;
align-items: center;

color: #212353;


}
h1.card1__content {
/* Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others. */

position: absolute;
width: 380px;
height: 120px;
left: 50px;
top: 471px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
/* or 29px */

/* 1 */
color: #4B5D68;

   
}

h1.content2 {
    /* Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others. */
    
    /* The place to store various data that you can access at any time through the internet and where you can carry it. This very flexible storage area has a high level of security. To enter into your own data you must enter the password that you created when you registered in this Data Warehouse. */

position: absolute;
width: 474px;
height: 170px;
left: 790px;
top: 1168.18px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
/* or 29px */

/* 1 */
color: #4B5D68;


    
       
    }


h1.content3 {

    /* Some of the features and advantages that we provide for those of you who store data in this Data Warehouse. */

/* Some of the features and advantages that we provide for those of you who store data in this Data Warehouse. */

position: absolute;
width: 584px;
height: 58px;
left: 507.29px;
top: 1715px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
/* or 29px */
text-align: center;

/* 1 */
color: #4B5D68;





    }

h1.content4 {
    /* Don’t worry if your data is very large, the Data Warehoue provides a search engine, which is useful for making it easier to find data effectively saving time. */

position: absolute;
width: 220px;
height: 160px;
left: 500.29px;
top: 1992px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* or 26px */

/* 1 */
color: #4B5D68;


}

h1.content5{
    /* Access is given 24 hours a full morning to night and meet again in the morning, giving you comfort when you need data when urgent. */

position: absolute;
width: 220px;
height: 160px;
left: 1087.28px;
top: 1992px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* or 26px */

/* 1 */
color: #4B5D68;


}

h1.content6 {
    /* Print out service gives you convenience if someday you need print data, just edit it all and just print it. */

position: absolute;
width: 220px;
height: 160px;
left: 500.29px;
top: 2400px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* or 26px */

/* 1 */
color: #4B5D68;


}

h1.content7 {
   /* Data Security is one of our best facilities. Allows for your files to be safer. The file can be secured with a code or password that you created, so only you can open the file. */

position: absolute;
width: 220px;
height: 160px;
left: 1087.28px;
top: 2400px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
/* or 26px */

/* 1 */
color: #4B5D68;

 
}

